#AboutSection{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20%;
    padding-right: 20%;
}

#JoinSection{
    padding-bottom: 60px;
    padding-left: 20%;
    padding-right: 20%;
}

a:hover {
  cursor: pointer;
}
